<h3><b>Donation Form</b></h3><br><br>
<div>
    <label> Name :<input type="text" name="name" required [(ngModel)]="name"></label><br><br>
    <label>Address :<input type="text" name="address"  required [(ngModel)]="address"></label><br><br>
    <label>Email Id :<input type="email" name="email" required [(ngModel)]="email"></label><br><br>
    <label>Mobile Number :<input type="text" name="mobile" required [(ngModel)]="mobile"></label><br><br>
    <label>Bank Name : <select name="bank_name">
        <option selected>Select one</option>
        <option>State Bank of India</option>
        <option>TamilNadu Mercandile Bank</option>
        <option>ICICI</option>
        <option>IOB</option>
        <option>HDFC Bank</option>
        <option>Yes Bank</option>
    </select>
    </label><br><br>
    <label>Amount :<input type="text" name="amount" required [(ngModel)]="amount"  (change)="checkamt($event.target)"></label>
    <br><br>
    <button type="submit" (click)="addDonate()">Submit</button>
    <span>&nbsp;&nbsp;&nbsp;</span><input type="reset" (click)="resetForm()" value="Reset">


<br>
</div>
